<div class="container">
    <div class="row mb-3">
        <div class="jumbotron">
            <h1 class="display-4 text-center">Registro de Cliente</h1>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-outline-primary btn-space">
                <a href="http://localhost:4200" style="color:inherit">Ventas</a>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <app-client-form></app-client-form>
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>CC</th>
                    <th>Telefono</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of service.list">
                    <td (click)="populateForm(c)">{{c.name}}</td>
                    <td (click)="populateForm(c)">{{c.lastName}}</td>
                    <td (click)="populateForm(c)">{{c.cedula}}</td>
                    <td (click)="populateForm(c)" >{{c.phone}}</td>
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(c.clientId)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>